{{ define "title" }} {{ .Title }} {{ end }}
{{ define "header" }} {{ partial "header" . }} {{ end }}
{{ define "main" }}

<section id="hero" class="wrapper-hero wrapper-hero-about">
  <div class="container">
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
  </div>
</section>

<div class="datenschutz">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="datenschutz-box">
          <h5>Datenschutzerklärung (Web)</h5>
          <p>für alle Webseiten des Vereins </p>
          <a href="/datenschutzerklaerung"><button class="btn-mini">Zum Datenschutz</button></a>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="datenschutz-box">
          <h5>Datenschutzerklärung (XMPP)</h5>
          <p>für den Anoxinon Messenger (XMPP-Server)</p>
          <a href="/datenschutzerklaerung_xmpp"><button class="btn-mini">Zum Datenschutz</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
