{{ define "title" }} {{ .Title }} {{ end }}
{{ define "header" }} {{ partial "header" . }} {{ end }}
{{ define "main" }}

  <section id="hero" class="wrapper-hero wrapper-hero-about">
  	<div class="container">
  		<h1>{{ .Title }}</h1>
  		<p>{{ .Params.bref | safeHTML }}</p>
  	</div>
  </section>

  <section id="main-content" class="dienste-content">
    <div class="container">
      <div id="kube-component" class="content">
      {{ .Content}}

      {{if .Params.script}}

        {{ $script := (delimit (slice "scripts" .Params.script) "/")}}

      {{ partial (string $script) .}}

        {{ end }}
      </div>
    </div>
  </section>

{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
