{{ define "title" }} {{ .Title }} {{ end }}
{{ define "header" }} {{ partial "header" . }} {{ end }}
{{ define "main" }}

<section id="hero" class="wrapper-hero wrapper-hero-about">
  <div class="container">
    <h1>{{ .Title }}</h1>
    <p>{{ .Params.description }}</p>
  </div>
</section>

<ul id="posts">
  {{ .Content }}
</ul>

{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
